body{
    background-color: rgb(26, 46, 82);
    color: rgb(2, 87, 216);
    margin: 0 auto;
    width: fit-content;

}

h1{
    font-size: 36px;
}

h2{
    font-size: 26px;
}

li{
    font-size: 24px;
    list-style-type: none;
}

a{
    color:rgb(112, 169, 243);
    text-decoration: none;
}

a:hover{
color: rgb(255, 255, 255);
text-decoration: overline;

}